<footer class="font-small">
  <div class="container">
    <div class="container">
      <div class="row text-center justify-content-center pt-5">
        <div class="col-md-3 mb-1"></div>
        <div class="col-md-2 mb-1">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#" routerLink="/home">Home</a>
          </h6>
        </div>
        <div class="col-md-2 mb-1">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#" routerLink="/reports">Reports</a>
          </h6>
        </div>
        <div class="col-md-2 mb-1">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#" routerLink="/about">About</a>
          </h6>
        </div>
        <div class="col-md-3 mb-1"></div>
      </div>
      <hr class="rgba-white-light">
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    </div>
    <div class="footer-copyright text-center py-1">© 2018 Copyright:
      <a href="https://www.facebook.com/dea.gianni"> Elevati Inc.</a>
    </div>
  </div>
</footer>
