<div *ngIf="report">
  <div class="text-left m-2">
    <button class="btn"(click)="goBack()"><i class="fa fa-arrow-left"></i> Indietro</button>
  </div>
  <div class="card text-center m-2 p-2">
    <div class="container img-container p-2">
      <img class="img-full img-fluid img-responsive rounded" [src]="report.image | async" alt="Image">
    </div>
    <h5 class="card-title text-center">
      {{ report.title }} - <span>{{ report.n_stars }} <i class="fa fa-star-o"></i></span></h5>
    <!--ID: {{ report.id }}<br />-->
    Data: {{ report.timestamp | date : "dd/MM/yyyy" }}
    <p class="card-text not-full-text">
      {{ report.description }}<br />
      <!--by {{ report.user_id }}-->
    </p>
    <div class="text-center">
      <button type="button" class="btn m-1 no-click"
              [class.btn-primary]="report.status == accettato"
              [class.btn-danger]="report.status == rifiutato"
              [class.btn-success]="report.status == completato"
              [class.btn-secondary]="report.status == attesa">
          {{ getStatusText(report.status) }}
      </button>
      <span> </span>
      <button type="button" class="btn m-1 no-click"
              [class.btn-primary]="report.category == strada"
              [class.btn-danger]="report.category == elettrica"
              [class.btn-success]="report.category == giardinaggio"
              [class.btn-warning]="report.category == polizia">
          {{ getCategoryText(report.category) || "Altro" }}
      </button>
    </div>
  </div>
  <div class="jumbotron text-left p-4">
    <h2>Modifica</h2>
    <form (ngSubmit)=onSubmit() #form="ngForm">
      <div class="form-group">
        <label for="commento" class="col-sm-3">Commento operatore:</label>
        <textarea class="form-control" id="commento"
                  placeholder="Inserire un commento operatore..." rows="3"
                  [(ngModel)]="report.reply" name="reply"
                  #reply="ngModel"></textarea>
      </div>
      <div class="form-group">
        <label for="status" class="col-1">Stato:</label>
        <select class="form-control custom-select mr-sm-1 col-2" id="status"
                [(ngModel)]="report.status" name="formStatus"
                #formStatus="ngModel">
          <option *ngFor="let status of statusList" [value]="status">
                  {{ getStatusText(status) }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="category" class="col-1">Categoria:</label>
        <select class="form-control custom-select mr-sm-1 col-2" id="category"
                [(ngModel)]="report.category" name="formCategory"
                #formCategory="ngModel">
          <option *ngFor="let category of categoryList" [value]="category">
                  {{ getCategoryText(category) }}
          </option>
        </select>
      </div>
      <button
        [disabled]="!reply.dirty && !formStatus.dirty && !formCategory.dirty"
        type="submit" class="btn btn-primary">Invia</button>
    </form>
  </div>
</div>
